.cart-product {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem 3%;
  background-color: #ff5400;
  border-radius: 1rem;
}

.cart-img {
  width: 11%;
}

.cart-product h2,
h4 {
  color: white;
}

.trash-can {
  color: #ff0000;
  background-color: #101010;
  padding: 1rem;
}

.trash-can:hover {
  background-color: #ff0000;
  cursor: point;
}

.finish-buy-button, .empty-cart-button{
  padding: 10px 40px;
  background-color: var(--color-lightgray);
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
  margin: 2rem
}

.finish-buy-button:hover, .empty-cart-button:hover {
  background-color: #ff0000;
  padding: 10px 60px;
}