h1,
h2 {
  color: white;
}

ul.categories {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-card {
  padding: 10px;
  margin: 10px;
  background-color: var(--color-orange);
}

.game-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 1000;
}

.button-index {
  padding: 10px 40px;
  background-color: var(--color-lightgray);
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
}

.button-index:hover {
  background-color: #ff0000;
  padding: 10px 60px;
}
